*{
    box-sizing: border-box;

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: #333333;
}

.section{
    padding: 20px 15%;
}
.header{
    margin-top: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: 450;
}
.header span{
    font-size: 20px;
    display: block;
    font-weight: 300;
    
}
.header strong{
    font-weight: 650;
    text-transform: uppercase;
}
.main{
    text-align: center;
    margin-top: 80px;
}
.video, .form{
    display: inline-block;
    vertical-align: top;
}
.form{
    margin-left: 30px;
    text-align: center;
    padding: 20px;
    border: 3px solid rgb(46, 46, 236);
}
.form input{
    display: block;
    margin-top: 10px;
    width: 300px;
    padding: 8px;
    border: 1px solid #333333;
    font-size: 18px;
}
.form-header{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.btn{
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(26, 137, 248, 0.356);
    color: aliceblue;
    border: none;
    height: 50px;
    width: 300px;
   
    display: block;
    margin: 11px auto;
}
.col{
    display: inline-block;
    text-align: center;
    margin: 10px 70px;
}
.feature-header{
    margin-top: 60px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}
.feature{
text-align: center;
margin-top: 30px;
}
